body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: grey;
    font-size: 1.5em;
}
#cartoon-image{
    width: 25em;
}
.nav-container{
    background-color: #ffffff;
    width: 100%;
    height: 25em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10em;
}
.bio-container{
    text-align: center;
    width: 15em;
}
.project-container{
    color: grey;
    background-color: #e0c0d3;
    padding: 1em;
}
.project-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
}
.dates{
    font-size: .5em;
}
.contact-container{
    width: 100%;
    background-color: #b6c7dd;
    height: 15em;
}
.contact-card{
    float: right;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.history-container{
    width: 100%;
    background-color: #efe6dd;
    padding: 1em;
}
a{
    text-decoration: none;
    color: grey;
    font-weight: 900;
}
a:hover{
    text-decoration: underline;
}
h3 > span{
    font-size: medium;
}
/* Mobile styling */
@media only screen and (max-width: 600px) {
    body{
        font-size: 12px;
        overflow-x: hidden;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
        gap: 0;
        font-size: 16px;
    }
    #cartoon-image{
        width: 15em;
    }
    .project-container{
        width: 100%;
    }
    .contact-container{
        width: 100%;
        padding-right: 1em;
    }
    .contact-card{
        float: right;
        padding-right: 2em;
    }
    h3 > span{
        font-size: 12px;
    }
}
